<div>
  <h5>Insertar Servicio</h5>
  <hr>
  <form class="form-inline" id="formServices">
    <label class="sr-only" for="inlineFormInput">Nombre</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="name" placeholder="Nombre" required>

    <label class="sr-only" for="inlineFormInput">Descripcción</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="description" placeholder="Descripcción" required>

    <label class="sr-only" for="inlineFormInput">Correo</label>
    <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="Correo" required>

    <button type="submit" class="btn btn-success">Insertar</button>
  </form>
  <hr>
  <br>
  <table id="services"></table>
</div>